<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="FATAL"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %M - %msg%n"/>
        </Console>
        <File name="FileAll" fileName="${sys:id}.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %M - %msg%n"/>
        </File>
        <File name="FileFatal" fileName="${sys:id}-fatal.log" append="false">
            <ThresholdFilter level="FATAL"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %M - %msg%n"/>
        </File>
        <Async name="Async">
            <AppenderRef ref="FileAll"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="FATAL">
            <AppenderRef ref="Async"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>